/* 1 - Main */
/* 2 - Username */
/* 3 - RoomSelect */


/*---------------------- Main ----------------------*/

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; 

}

/*---------------------- Username ----------------------*/

.username {
    border: none;
    border-bottom: 1px solid #9b9b9b;
    outline: none;
    text-align: center;

    width: 20%;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

/*---------------------- RoomSelect ----------------------*/

.selectdiv {
    margin: 10px 10px 10px 0px;
  }
  
select::-ms-expand {
  display: none;
}
  
.selectdiv select {
  outline-width: 0;
  
  padding: 10px 10px 10px 5px;
  display: block;
  width: 10em;
  border: none;
  color: #757575;
  font-size: 1rem;
  
  border-bottom: 1px solid #757575;
}